{% extends "fm_main_template.html" %}

{% block title %}: выбор ингредиентов для рецепта{% endblock %}

{% block header %}Выбор ингредиентов для рецепта{% endblock %}

{% block content %}
        <form action="/registration/speciality/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="OK">
        </form>

        <form action="/clinic/registration/speciality/" method="POST">
            {% csrf_token %}
            <input type="text" name="_method" value="DELETE" hidden>
            <input type="submit" value="Отмена">
        </form>
{% endblock %}

{% block footer %}Клюшкин Ю. А. 2015{% endblock %}